<%
    var current = date(Date.now(), "YYYY")
%>
<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p class="copyright text-muted">
        &copy; <% if (theme.footer.since && theme.footer.since != current) { %><%- theme.footer.since %> - <% } %> <%= current %>
        <span class="with-love">
            <i class="fa fa-<%- theme.footer.icon %>"></i>
        </span>
        <span class="author"><%= theme.author || config.author %></span>

        <% if (theme.footer.powered) { %>
        <p class="copyright text-muted">
          Powered By <a target="_blank" href="https://hexo.io/">Hexo.</a>
        </p>
        <% } %>

        <% if (theme.busuanzi_count.enable) { %>
        <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
        <p class="visit-statistics">
            <span id="busuanzi_container_site_pv">
              本站总访问：<span id="busuanzi_value_site_pv"></span>次
              &nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        <p>
        <% } %>
      </div>
    </div>
  </div>
</footer>
